@import url("base.css");

ul {
	padding: 0;
	margin: 0;
}

@-webkit-keyframes pulse {
	0% {
		background: transparent;
	}

	50% {
		background: orange;
	}
	
	100% {
		background: transparent;
	}
}

.entry, .entry_editing {
	list-style-type: none;
	display: block;
	margin: 0.6em;
	padding: 0.8em;
	border: solid orange 0.1em;
	border-radius: 0.2em;
	min-height: 3em;
}

.past {
	background: orange;
	-webkit-animation-duration: 3s;
	-webkit-animation-name: pulse;
	-webkit-animation-iteration-count: infinite;
}

.time {
	font-size: 0.9em;
	color: grey;
	display: inline-block;
}

.message {
	font-size: 2em;
	display: block;
	width: 100%;
	box-sizing: border-box;
	color: white;
	word-break: break-all;
	overflow-wrap: break-word;
}

.message p {
	margin: 0.2em;
}

#search_add .CodeMirror {
	height: auto;
	padding: 0.5em;
	border-bottom: solid orange 1px;
	font-size: 2em;
}

#search_add .CodeMirror-scroll {
	max-height: 9em;
}